body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: darkgray;
}

header {
	height: 100px;
	background-color: dark-green;
}

#logo {
    float: left;
}

nav {
	float: right;
}

ul {
	list-style-type: none;
  	margin: 0;
 	 padding: 0;
  	overflow: hidden;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}


.text-uppercase {
    text-transform: uppercase;
}


